.container{
    margin-left: 10%;
    border-color: black;
    
}

.bar{
    height:150px;
    width: 150px;
}

.card{
    box-shadow: 20%;
    border-radius: 10%;
    border-color: black;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}