app-header{

  position: absolute;

  width: 100%;

  top: 0px;

  height: 6rem;

  z-index: 2;

}

main{

  position: absolute;

  width: 100%;

  top: 6rem;

  z-index: 1;

}

app-sidebar{

  position: absolute;

  left: 0rem;

  width: 200px;

  height: calc(120vh - 6rem);

  background-color: #20202d;

  border-top: 1px solid white;

}

.display-area{

  position: absolute;

  left: 200px;

  width: calc(100% - 200px);

}


